/* InfoBox richtext styles extracted from globals.css */

.richtext blockquote {
  all: revert !important;
}

.richtext ol {
  all: revert !important;
}

.richtext a {
  word-break: break-word;
  overflow-wrap: break-word;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.richtext ul {
  all: revert !important;
}

.richtext strong {
  all: revert !important;
}

.richtext br {
  all: revert !important;
}

.richtext h1 {
  all: revert !important;
}

.richtext h2 {
  all: revert !important;
}

.richtext h3 {
  all: revert !important;
}

.richtext h4 {
  all: revert !important;
}

.richtext h5 {
  all: revert !important;
}

.richtext h6 {
  all: revert !important;
}

.richtext code {
  white-space: pre-wrap;
  word-break: break-all;
}

.richtext pre {
  white-space: pre-wrap;
  word-break: break-all;
}

.richtext p {
  white-space: pre-wrap;
}

.richtext h1,
.richtext h2,
.richtext h3,
.richtext h4,
.richtext h5,
.richtext h6,
.richtext li::marker {
  color: #475569 !important;
}

.richtext * {
  font-size: 0.875rem;
  line-height: 1.25rem;
  word-break: break-word;
}

.richtext h1,
.richtext h1 * {
  font-size: 1.5rem !important;
}

.richtext h2,
.richtext h2 * {
  font-size: 1.25rem !important;
}

.richtext h3,
.richtext h3 * {
  font-size: 1.125rem !important;
}

.richtext h4,
.richtext h4 * {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.richtext h5,
.richtext h5 * {
  font-size: 0.875rem !important;
}

.richtext h6,
.richtext h6 * {
  font-size: 0.75rem !important;
}

.richtext {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.richtext * {
  color: #475569 !important;
}

.richtext a,
.richtext a * {
  color: #6366f1 !important;
} 