.root {
  position: relative;
  width: 5rem;
  height: 5rem;
  perspective: 100%;
  transform-style: preserve-3d;
}

.star {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.starOuter {
  animation: orbitOuter 6s linear infinite;
  transform-origin: 50% 50%;
}

.starMiddle {
  animation: orbitMiddle 6s linear infinite;
  transform-origin: 50% 50%;
}

.starInner {
  animation: orbitInner 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes orbitOuter {
  0% {
    transform: scale(0.4) translateX(-20%) rotate(35deg) rotateY(0deg)
      translateZ(var(--wand-z-outer, 82px)) rotateY(360deg);
  }
  100% {
    transform: scale(0.4) translateX(-15%) rotate(35deg) rotateY(360deg)
      translateZ(var(--wand-z-outer, 82px)) rotateY(0deg);
  }
}

@keyframes orbitMiddle {
  0% {
    transform: scale(0.3) translateY(-75%) translateX(55%) rotate(35deg)
      rotateY(180deg) translateZ(var(--wand-z-middle, 102px)) rotateY(540deg);
  }
  100% {
    transform: scale(0.3) translateY(-75%) translateX(55%) rotate(35deg)
      rotateY(540deg) translateZ(var(--wand-z-middle, 102px)) rotateY(180deg);
  }
}

@keyframes orbitInner {
  0% {
    transform: scale(0.25) translateY(-140%) translateX(140%) rotate(35deg)
      rotateY(0deg) translateZ(var(--wand-z-inner, 112px)) rotateY(360deg);
  }
  100% {
    transform: scale(0.25) translateY(-140%) translateX(140%) rotate(35deg)
      rotateY(360deg) translateZ(var(--wand-z-inner, 112px)) rotateY(0deg);
  }
}

.starSpin {
  animation: spinStar 15s linear infinite;
}

.starSpinReverse {
  animation: spinStarReverse 15s linear infinite;
}

@keyframes spinStar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinStarReverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.stick {
  position: absolute;
  width: 100%;
  height: 100%;
}

.stickPath {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    2.627% 77.234%,
    2.627% 77.234%,
    1.681% 78.395%,
    0.946% 79.664%,
    0.42% 81.017%,
    0.105% 82.424%,
    0% 83.86%,
    0.105% 85.296%,
    0.42% 86.706%,
    0.946% 88.061%,
    1.681% 89.334%,
    2.627% 90.501%,
    9.109% 97.26%,
    9.109% 97.26%,
    10.221% 98.246%,
    11.439% 99.014%,
    12.735% 99.561%,
    14.085% 99.89%,
    15.461% 100%,
    16.838% 99.89%,
    18.19% 99.561%,
    19.489% 99.014%,
    20.711% 98.246%,
    21.828% 97.26%,
    93.256% 22.746%,
    93.256% 22.746%,
    94.202% 21.586%,
    94.938% 20.316%,
    95.463% 18.964%,
    95.778% 17.556%,
    95.884% 16.121%,
    95.778% 14.684%,
    95.463% 13.275%,
    94.938% 11.919%,
    94.202% 10.646%,
    93.256% 9.48%,
    86.775% 2.74%,
    86.775% 2.74%,
    85.662% 1.754%,
    84.445% 0.986%,
    83.148% 0.439%,
    81.798% 0.11%,
    80.422% 0%,
    79.045% 0.11%,
    77.693% 0.439%,
    76.394% 0.986%,
    75.172% 1.754%,
    74.055% 2.74%,
    2.627% 77.234%,
    84.77% 16.123%,
    65.101% 36.637%,
    60.736% 32.085%,
    80.406% 11.571%,
    84.77% 16.123%
  );
}

.starClip {
  aspect-ratio: 0.9588;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    3.906% 44.375%,
    3.906% 44.375%,
    3.227% 44.681%,
    2.6% 45.06%,
    2.029% 45.508%,
    1.519% 46.017%,
    1.074% 46.582%,
    0.7% 47.195%,
    0.401% 47.85%,
    0.181% 48.54%,
    0.046% 49.258%,
    0% 50%,
    0% 50%,
    0.046% 50.742%,
    0.181% 51.46%,
    0.401% 52.15%,
    0.7% 52.805%,
    1.074% 53.418%,
    1.519% 53.983%,
    2.029% 54.492%,
    2.6% 54.94%,
    3.227% 55.319%,
    3.906% 55.625%,
    33.333% 66.667%,
    44.375% 96.093%,
    44.375% 96.093%,
    44.68% 96.773%,
    45.06% 97.4%,
    45.508% 97.971%,
    46.018% 98.481%,
    46.582% 98.926%,
    47.195% 99.3%,
    47.85% 99.6%,
    48.54% 99.819%,
    49.259% 99.954%,
    50% 100%,
    50% 100%,
    50.741% 99.954%,
    51.46% 99.819%,
    52.15% 99.6%,
    52.805% 99.3%,
    53.418% 98.926%,
    53.983% 98.481%,
    54.492% 97.971%,
    54.94% 97.4%,
    55.32% 96.773%,
    55.625% 96.093%,
    66.667% 66.667%,
    96.094% 55.625%,
    96.094% 55.625%,
    96.773% 55.319%,
    97.4% 54.94%,
    97.971% 54.492%,
    98.481% 53.983%,
    98.926% 53.418%,
    99.3% 52.805%,
    99.599% 52.15%,
    99.819% 51.46%,
    99.954% 50.742%,
    100% 50%,
    100% 50%,
    99.954% 49.258%,
    99.819% 48.54%,
    99.599% 47.85%,
    99.3% 47.195%,
    98.926% 46.582%,
    98.481% 46.017%,
    97.971% 45.508%,
    97.4% 45.06%,
    96.773% 44.681%,
    96.094% 44.375%,
    66.667% 33.333%,
    55.625% 3.907%,
    55.625% 3.907%,
    55.32% 3.227%,
    54.94% 2.6%,
    54.492% 2.029%,
    53.983% 1.519%,
    53.418% 1.074%,
    52.805% 0.7%,
    52.15% 0.4%,
    51.46% 0.181%,
    50.741% 0.047%,
    50% 0%,
    50% 0%,
    49.259% 0.047%,
    48.54% 0.181%,
    47.85% 0.4%,
    47.195% 0.7%,
    46.582% 1.074%,
    46.018% 1.519%,
    45.508% 2.029%,
    45.06% 2.6%,
    44.68% 3.227%,
    44.375% 3.907%,
    33.333% 33.333%,
    3.906% 44.375%
  );
}
